* {
    font-family: 'SF Pro';
    font-weight: bold;
    font-size: 14px;
    color: #f0f0f0;
    background: transparent;
    border: none;
    outline: none;
}

#window {
    background: rgba(8, 8, 8, 0.8);
    border-radius: 4px;
    border: none;
}

#input {
    padding: 4px 10px;
    border-radius: 10px;
    box-shadow: none;
}

#outer-box {
    padding: 2px;
    border-radius: 4px;
    border: none;
}

#img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#entry {
    font-size: 16px;
    padding: 10px;
    border-radius: 0px;
}

#entry:selected {
    background-color: rgba(50, 50, 50, 0.6);
}
