@define-color fg #f1f1f1;
@define-color fg2 #919191;

@define-color bgt rgba(30, 30, 30, 0.75);
@define-color bg #1e1e1e;
@define-color bg1 #242424;
@define-color bg2 #343434;
@define-color bg3 #919191;

@define-color black #000000;
@define-color border #343434;
@define-color disabled #303030;
@define-color focused #637c94;

@define-color accent #d71921;
@define-color accent2 #770000;

@define-color danger #ed333b;
@define-color success #33d17a;
@define-color warning #f8e45c;
@define-color info #3584e4;

* {
    box-shadow: none;
    text-shadow: none;
    font-family: 'SF Pro Text';
    color: @fg;
    background: transparent;
    outline: none;
}

.control-center {
    /* The Control Center which contains the old notifications + widgets */
    background: @bg;
    color: @fg;
    border-radius: 0px;
}

.control-center .control-center-list-placeholder {
    /* The placeholder when there are no notifications */
    opacity: 0.5;
}

.control-center .control-center-list .notification {}

.notification-default-action,
.notification-action {
    transition: opacity 400ms ease-in-out, background 0.15s ease-in-out;
}

.notification {
    /* The actual notification */
    border-radius: 8px;
    padding: 4px;
    transition: background 0.15s ease-in-out;
    background: @bg1;
    outline: 1px solid @border;
}

.close-button {
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
}

.notification-content .image {
    /* Notification Primary Image */
    -gtk-icon-effect: none;
    border-radius: 16px;
    margin: 8px;
}

.notification-content .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-effect: none;
    margin: 8px;
}

.notification-content .text-box .summary {
    /* Notification summary/title */
    font-size: 16px;
    font-weight: bold;
    color: @fg;
    text-shadow: none;
}

.notification-content .text-box .time {
    /* Notification time-ago */
    font-size: 12px;
    font-weight: bold;
    color: @fg;
    text-shadow: none;
}

.notification-content .text-box .body {
    /* Notification body */
    font-size: 15px;
    font-weight: normal;
    color: @fg;
    text-shadow: none;
}

.notification-content progressbar {
    /* The optional notification progress bar */
    margin-top: 4px;
}

.notification-content .body-image {
    /* The "extra" optional bottom notification image */
    margin-top: 4px;
    background-color: white;
    border-radius: 12px;
    -gtk-icon-effect: none;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
    color: @fg;
    margin: 12px;
    font-size: 1.5rem;
}

.widget-title>button {
    font-size: initial;
    color: @fg;
    text-shadow: none;
    background: @bg;
    border: 1px solid @border;
    box-shadow: none;
    border-radius: 12px;
}

.widget-title>button:hover {
    background: @danger;
}

/* DND widget */
.widget-dnd {
    color: @fg;
    margin: 8px;
    font-size: 1.1rem;
}

.widget-dnd>switch {
    font-size: initial;
    border-radius: 20px;
    background: @bg1;
    border: 1px solid @border;
    box-shadow: none;
}

.widget-dnd>switch:checked {
    background: @info;
}

.widget-dnd>switch slider {
    background: @fg;
    border-radius: 100px;
}

/* Mpris widget */
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);

.widget-mpris {
    /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
    padding: 8px;
    padding: 16px;
    margin: 16px 20px;
    background-color: @mpris-album-art-overlay;
    border-radius: 12px;
}

.widget-mpris .widget-mpris-player button:hover {
    /* The media player buttons (play, pause, next, etc...) */
    background: @bg3;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 12px;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-mpris>box>button:hover {
    /* Change player side buttons */
    background: @bg2;
}
