* {
    font-weight: 600;
    border: none;
    margin: 0;
    padding: 0;
    color: @fg;
    min-width: 8px;
}

.bar {
    font-size: 12px;
}

window#waybar {
    background: @black;
}

#custom-dunst {
    padding-right: 8px;
}

#tray {
    padding: 0 8px;
}

#tray>* {
    padding: 0 4px;
}

/*-----modules indv----*/
#workspaces * {
    margin: 0px;
    min-height: 0px;
    border-radius: 0;
}

#workspaces button:hover {
    background: none;
}

#workspaces button {
    margin: 0 2px 0 0;
    min-width: 14px;
    background-color: transparent;
}

#workspaces button * {
    color: @fg2;
}

#workspaces button.empty * {}

#workspaces button.visible * {
    background-color: @ds;
}

#workspaces button.active * {
    background-color: @ac;
}

#workspaces button:not(.empty) * {
    color: @fg;
}


#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @danger;
}

#battery.charging {
    color: @success;
}
