@define-color background rgba(8, 8, 8, 1);
@define-color foreground #ededed;
@define-color disabled #3a3a3a;
@define-color dark #1e1e1e;
@define-color accent #cd1f48;

* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'SF Pro';
    font-weight: bold;
    font-size: 12px;
    color: @foreground;
}

window {
    margin: 0;
}

window#waybar {
    background: @background;
}

.modules-left {
    padding: 0 4px;
}

.modules-right {
    padding: 0 10px;
}

#tray > * > * {
    padding: 0 4px;
}

#custom-search,
#keyboard-state,
#pulseaudio {
    font-size: 12px;
}

#group-drawer,
#custom-arch,
#custom-dnd {
    padding: 0 4px;
}

#keyboard-state {
    padding: 0;
}
#keyboard-state label.locked {
    padding: 0 4px;
}

/*-----modules indv----*/
#workspaces button {
    padding: 0px 4px;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: @background;
    border-bottom: 2px solid @disabled;
}
#workspaces button.focused {
}

#workspaces button:hover {
}
