[Desktop Entry]
Version=1.0
Name=Teams
Comment=Web App
Exec=librewolf --class WebApp-Teams1753 --name WebApp-Teams1753 --profile /home/m4rti/.local/share/quick-webapps/firefox/Teams1753 --no-remote https://teams.microsoft.com
Terminal=false
Type=Application
Icon=/home/m4rti/.local/share/icons/QuickWebApps/Teams.svg
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Teams1753
StartupNotify=true
X-MultipleArgs=false
X-WebApp-Browser=LibreWolf
X-WebApp-URL=https://teams.microsoft.com
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
X-WebApp-CustomParameters=
